@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Poppins:wght@300;400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #212121;
    font-weight: 300;
    line-height: 1.6;
}

.banner {
    background-image: linear-gradient(rgba(99, 99, 99, 0.7), rgba(36, 36, 36, 0.5)), url(https://source.unsplash.com/1000x500/?nature,mountain);
    background-size: cover;
    color: white;
    margin: 0;
    padding: 100px 0;
}

.banner p {
    font-size: 20px;
}

.container {
    width: 700px;
    margin: 50px auto;
}

h1 {
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.1;
}

h2 {
    font-size: 26px;
}

a {
    text-decoration: none;
    color: white;
    transition: all 200ms ease-in-out;
}

.btn {
    background-color: #74b9ff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    margin-bottom: 40px;
}

.btn:hover {
    background-color: #6c5ce7;
}

@media(max-width: 1200px) {
    .container {
      width: 900px;
    }
}

@media(max-width: 992px) {
    .container {
      width: 600px;
    }
}

@media (max-width: 768px) {
    .container {
      width: 500px;
    }
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .container {
      width: 300px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }
}